{% extends "base.html" %}
{% load static %}

{% block tab_title %}
  {{ticker_symbol|upper}}
{% endblock tab_title %}

{% block css %}
  <link href="{{ STATIC_URL }}css/candlesticks.css?v=0" rel="stylesheet">
{% endblock css %}

{% block javascript %}
  <script src="https://d3js.org/d3.v6.min.js"></script>
  <script src="http://techanjs.org/techan.min.js"></script>

  <script>
      var ticker_data = JSON.parse('{{ ticker_timeseries | escapejs }}');
      var ohlc_values = []
      $.each(ticker_data.close_price.values, function(i, item) {
        ohlc_values.push({
          'Open': ticker_data.open_price.values[i],
          'High': ticker_data.high_price.values[i],
          'Low': ticker_data.low_price.values[i],
          'Close': ticker_data.close_price.values[i],
          'Date':  timestamp_from_score(ticker_data.close_price.scores[i]),
          'Volume': 0
        });
      });
  </script>

  <script src="{{ STATIC_URL }}js/candlesticks.js?v=0"></script>

{% endblock javascript %}

{% block content_subtitle %}

{% endblock content_subtitle %}

{% block content_title %}

{% endblock content_title %}

{% block content_toolbar_items %}

{% endblock content_toolbar_items %}

{% block content %}

  <div class="d-flex flex-row justify-content-center my-3">
{#    <div class="flex-auto">#}
{#      <h5>ticker</h5>#}
{#    </div>#}
    <div class="flex-auto">
      <h1>{{ticker_symbol|upper}}</h1>
    </div>
  </div>

  <div class="d-flex flex-row justify-content-center">

    <div class="flex-auto text-center">
      <div class="btn-group" role="group" aria-label="time frames">
        <a type="button" class="btn btn-secondary {% if days == 30 %}active{% endif %}" href="?days=30">1M</a>
        <a type="button" class="btn btn-secondary" href="?days=90">3M</a>
        <a type="button" class="btn btn-secondary" href="?days=365">1Y</a>
      </div>
    </div>

  </div>

  <div class="m-5">
    <svg class="candlesticks" height="450" width="600"></svg>
  </div>

{#<table class="table">#}
{#  <thead>#}
{#    <tr>#}
{#      <th scope="col">Date</th>#}
{#      <th scope="col">Open</th>#}
{#      <th scope="col">High</th>#}
{#      <th scope="col">Low</th>#}
{#      <th scope="col">Close</th>#}
{#      <th scope="col">Volume</th>#}
{#    </tr>#}
{#  </thead>#}
{#  <tbody>#}
{#    {% for open, high, low, close in ohlc_values %}#}
{#      {% with i=forloop.counter0 %}#}
{#        <tr>#}
{#          <th scope="row"></th>#}
{#          <td>{{ open }}</td>#}
{#          <td>{{ high }}</td>#}
{#          <td>{{ low }}</td>#}
{#          <td>{{ close }}</td>#}
{#          <td></td>#}
{#        </tr>#}
{#      {% endwith %}#}
{#    {% endfor %}#}
{#  </tbody>#}
{#</table>#}

{% endblock content %}